h1{
    text-align: center;
}


nav ul{
    text-align: right;
    list-style: none;
    margin: 0px;
    padding: 0px;


}

nav a{
    color: black;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;

}


nav li{
    display: inline-block;
    padding: 4px 8px;
}

a:hover{
    background-color: darkgoldenrod;

}

#menu{
    padding: 0;
    text-align: center;
}

#navegation{
    display: inline-block;
    padding-left: 500px;

}

#title{
    display: inline-block;

}

#logoTodo{
    width: 50px;
    height: 50px;

}

#logoMenu{
    display: inline-block;
    align: right;
    padding: 2px 5px 10px 5px;

}

header, footer{
    padding: 16px;
    color: #eee;/*rrggbb min:00 max:ff*/
    background-color: #448;
}

body{
    background-color: cornsilk;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article{

    border: 1px solid red;
    width: auto;
    margin: 4px;
    padding: 4px;   
    text-align: center;
    background-color:grey;
    display: inline-block;


}




section{
    margin: 2px;
}

